.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  /* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.main_content {
    width: 50% !important;
    background-color: #f8f9fa!important;
    padding: 0.25rem;
    margin-top: 10px;
    border: 1px solid acaeaf;
    border-radius: 10px;
}

._card {
    transition: transform 0.3s ease-in-out;
}

._card:hover{
    cursor: pointer;
    transform: translateY(-5px) translateX(2px);
}

input[id="input_text"] {
    position: relative;
}

input[id="input_text"]::before{
    content: "";
    position: absolute;
    top: -0.4em;
    left: 0.5em;
    width: 0;
    height: 0;
    opacity: 0;
}

input[id="input_text"]::after{
    content: attr(data-tooltip);
    position: absolute;
    top: -2.2em;
    left: 0;
    opacity: 0;
}

input[id="input_text"]:hover::after,
input[id="input_text"]:hover::before {
    opacity: 1;
}